<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="title">For any events and people dear to you</h2>
    <ul class="list">
      <li class="item">
        <img src="/img/content/1.png" alt="Cream Castle" class="img" />
        <div class="block">
          <h3 class="name">Cream Castle</h3>
          <p class="description">
            Delicate cream of any color of your choice, waffle base
          </p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/2.png" alt="Raspberry Paradise" class="img" />
        <div class="block">
          <h3 class="name">Raspberry</h3>
          <p class="description">Airy cream, dark base and raspberry</p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/3.png" alt="Fireworks" class="img" />
        <div class="block">
          <h3 class="name">Fireworks</h3>
          <p class="description">Multi-colored cream with a biscuit base</p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/4.png" alt="Chocolate World" class="img" />
        <div class="block">
          <h3 class="name">Chocolate World</h3>
          <p class="description">
            Nut shavings, delicate cream and chocolate base
          </p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/5.png" alt="Dragon" class="img" />
        <div class="block">
          <h3 class="name">Dragon Tears</h3>
          <p class="description">
            Delicate cream of any color of your choice, waffle base
          </p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/6.png" alt="Summer Fantasy" class="img" />
        <div class="block">
          <h3 class="name">Summer Fantasy</h3>
          <p class="description">Heart-shaped jewelry for a loved one</p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/7.png" alt="Cape of Madness" class="img" />
        <div class="block">
          <h3 class="name">Cape of Madness</h3>
          <p class="description">Multicolored base, shavings, and cream</p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/8.png" alt="Cloudy Fairytale" class="img" />
        <div class="block">
          <h3 class="name">Cloudy Fairytale</h3>
          <p class="description">
            Light base, delicate cream with shavings on top
          </p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/9.png" alt="Dark Knight" class="img" />
        <div class="block">
          <h3 class="name">Dark Knight</h3>
          <p class="description">
            Dark base, delicate cream, and delicious balls
          </p>
          <p class="price">15 $/piece</p>
          <button class="btn">Order</button>
        </div>
      </li>
    </ul>
  </div>
</section>
