<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="title">For any events and people dear to you</h2>
    <ul class="list">
      <li class="item">
        <img src="/img/content/1.png" alt="Cream Castle" class="img" />
        <div class="block">
          <h3 class="name">Cream Castle</h3>
          <p class="description">
            Delicate cream of any color of your choice, waffle base
          </p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/2.png" alt="Raspberry Paradise" class="img" />
        <div class="block">
          <h3 class="name">Raspberry</h3>
          <p class="description">Airy cream, dark base and raspberry</p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/3.png" alt="Fireworks" class="img" />
        <div class="block">
          <h3 class="name">Fireworks</h3>
          <p class="description">Multi-colored cream with a biscuit base</p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/4.png" alt="Chocolate World" class="img" />
        <div class="block">
          <h3 class="name">Chocolate World</h3>
          <p class="description">
            Nut shavings, delicate cream and chocolate base
          </p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/5.png" alt="Dragon" class="img" />
        <div class="block">
          <h3 class="name">Dragon Tears</h3>
          <p class="description">
            Delicate cream of any color of your choice, waffle base
          </p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/6.png" alt="Summer Fantasy" class="img" />
        <div class="block">
          <h3 class="name">Summer Fantasy</h3>
          <p class="description">Heart-shaped jewelry for a loved one</p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/7.png" alt="Cape of Madness" class="img" />
        <div class="block">
          <h3 class="name">Cape of Madness</h3>
          <p class="description">Multicolored base, shavings, and cream</p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/8.png" alt="Cloudy Fairytale" class="img" />
        <div class="block">
          <h3 class="name">Cloudy Fairytale</h3>
          <p class="description">
            Light base, delicate cream with shavings on top
          </p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
      <li class="item">
        <img src="/img/content/9.png" alt="Dark Knight" class="img" />
        <div class="block">
          <h3 class="name">Dark Knight</h3>
          <p class="description">
            Dark base, delicate cream, and delicious balls
          </p>
          <p class="price">15 $/piece</p>
          <button aria-label="Order Cream Castle" class="btn">Order</button>
        </div>
      </li>
    </ul>
    <div class="modal" id="order-modal">
      <div class="modal-overlay"></div>
      <div class="modal-content">
        <button class="modal-close" aria-label="Close modal">&times;</button>
        <h3 class="modal-title">Place your order</h3>
        <p class="modal-text">
          Enter your phone number and we’ll call you back in 15 minutes to
          confirm your order <span id="modal-product-name"></span>.
        </p>

        <form id="modal-form">
          <label class="modal-label">
            <svg
              class="modal-icon"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="#7e868e"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.62 10.79a15.053 15.053 0 006.59 6.59l2.2-2.2a1 1 0 011.11-.21c1.21.48 2.53.74 3.88.74a1 1 0 011 1v3.5a1 1 0 01-1 1C10.07 22.91 1.09 13.93 1 3a1 1 0 011-1h3.5a1 1 0 011 1c0 1.35.26 2.67.74 3.88a1 1 0 01-.21 1.11l-2.2 2.2z"
              />
            </svg>
            <input
              class="modal-input"
              type="tel"
              name="phone"
              placeholder="+38 0XX XXX XXXX"
              required
            />
          </label>

          <button type="submit" class="modal-btn">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</section>
