<section class="gallery">
  <div class="gallery-wrapper-text">
    <h2 class="gallery-title">We have placed over 3,000 orders in 2 years.</h2>
    <p class="gallery-text">
      Check out photos of real orders from our Instagram.
    </p>
  </div>
  <ul class="gallery-list">
    <li class="gallery-item">
      <img
        src="/img/gallery/photo1.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
    <li class="gallery-item">
      <img
        src="/img/gallery/photo2.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
    <li class="gallery-item">
      <img
        src="/img/gallery/photo3.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
    <li class="gallery-item">
      <img
        src="/img/gallery/photo4.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
    <li class="gallery-item">
      <img
        src="/img/gallery/photo5.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
    <li class="gallery-item">
      <img
        src="/img/gallery/photo6.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
    <li class="gallery-item">
      <img
        src="/img/gallery/photo7.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
    <li class="gallery-item">
      <img
        src="/img/gallery/photo8.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
    <li class="gallery-item">
      <img
        src="/img/gallery/photo9.png"
        alt="photo-cake"
        class="gallery-img"
        loading="lazy"
      />
    </li>
  </ul>

  <div class="gallery-modal" id="gallery-modal">
    <div class="gallery-modal-overlay"></div>
    <div class="gallery-modal-content">
      <button class="gallery-modal-close" aria-label="Close">&times;</button>
      <button class="gallery-modal-prev" aria-label="Previous">&#10094;</button>
      <img class="gallery-modal-img" src="" alt="gallery photo" />
      <button class="gallery-modal-next" aria-label="Next">&#10095;</button>
    </div>
  </div>
</section>
