<!-- <header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="/assets/img/logo.png"></use>
        </svg>
      </a>
      <svg>
        <use href="/assets/img/Sweet Bites Logo.png"></use>
      </svg>
    </nav>
  </div>
</header> -->

<header class="header">
  <div class="container">
    <a class="nav-logo" href="/" aria-label="Site logo">
      <img src="/logo.svg" alt="Sweet Chest logo" width="120" />
    </a>

    <ul class="nav-list">
      <li class="nav-item">
        <p>tel 00098766655</p>
      </li>
      <li class="nav-item">
        <p>adress</p>
      </li>
    </ul>
  </div>
</header>
