<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="/index.html" aria-label="Site logo">
        <img src="/img/logotip.svg" alt="Sweet Chest Logo" width="150" />
      </a>

      <ul class="nav-contacts">
        <li class="nav-item">
          <svg
            width="17"
            height="17"
            viewBox="0 0 24 24"
            fill="white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5z"
            />
          </svg>
          <div class="nav-info">
            <p class="nav-title">m. Kamianske,</p>
            <span class="nav-subtitle">pr. Peremohy, 70</span>
          </div>
        </li>

        <li class="nav-item">
          <svg
            width="17"
            height="17"
            viewBox="0 0 24 24"
            fill="white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.62 10.79a15.053 15.053 0 006.59 6.59l2.2-2.2a1 1 0 011.11-.21c1.21.48 2.53.74 3.88.74a1 1 0 011 1v3.5a1 1 0 01-1 1C10.07 22.91 1.09 13.93 1 3a1 1 0 011-1h3.5a1 1 0 011 1c0 1.35.26 2.67.74 3.88a1 1 0 01-.21 1.11l-2.2 2.2z"
            />
          </svg>
          <div class="nav-info">
            <a href="tel:+380969997887" class="nav-title"
              >+38 (096) 999 78 87</a
            >
            <span class="nav-subtitle">Daily 9:00–20:00</span>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
