<section class="hero">
  <div class="hero-bg"></div>
  <div class="hero-smoke"></div>
  <div class="hero-raspberries"></div>
  <div class="hero-leaf"></div>
  <div class="container content">
    <div class="text">
      <p class="hero-pre-title">delicious</p>
      <h1 class="hero-title">
        Cakes and cupcakes from 65 UAH per piece with delivery to the Kamianske
        region.
      </h1>

      <p class="hero-text">
        We'll prepare your order in 3 hours the same day. Refrigerated delivery
        available.
      </p>
      <div class="text-btn">
        <a class="btn" href="#catalog">Go to catalog</a>
        <span class="span">9 different <br />types to choose from</span>
      </div>
    </div>
  </div>
</section>
