<section class="order">
  <img src="/img/01 1.png" alt="decor" class="decor smoke-top" />

  <div class="container">
    <div class="order-wrapper">
      <div class="order-wrapper-text">
        <h2 class="order-title">
          To place an order, please provide your phone number.
        </h2>
        <p class="opder-description">
          We will call you back within 15 minutes to clarify your wishes.
        </p>
      </div>
      <form class="order-form">
        <label class="order-label">
          <imput
            class="order-input"
            type="tel"
            name="phone"
            placeholder="Number telephone"
            required
          />
        </label>
        <button type="submit" class="order-btn">Place an order</button>
      </form>
      <p class="opder-note">
        By clicking the button, you agree to the terms of
        <a href="#">personal data processing</a>
      </p>
    </div>
  </div>

  <img src="/img/footer/top-left.png" alt="decor" class="decor top-left" />
  <img src="/img/footer/tor-right.png" alt="decor" class="decor top-right" />
  <img
    src="/img/footer/bottom-left.png"
    alt="decor"
    class="decor bottom-left"
  />
  <img
    src="/img/footer/bottom-right.png"
    alt="decor"
    class="decor bottom-right"
  />
</section>
