<section class="service">
  <img src="/img/01 1.png" alt="" class="decor smoke-top" />
  <img src="/img/phone 1.png" alt="Phone with dessert" class="phone" />
  <div class="container service-container">
    <div class="service-texts">
      <p class="service-pre-title">Didn't find what you need?</p>
      <h2 class="service-title">
        We will prepare an order of any complexity based on a photo or sketch.
      </h2>
      <p class="service-text">
        Upload a photo or sketch of your cupcakes and we'll estimate the cost in
        30 minutes.
      </p>
      <button class="service-btn">Upload a photo</button>
    </div>
  </div>
  <img src="/img/leaf.png" alt="" class="decor leaf" />
  <img src="/img/berry.png" alt="" class="decor berry" />
  <img src="/img//02 1.png" alt="" class="decor smoke-bottom" />
</section>
