.gallery {
  /* max-width: 1920px; */
  background: var(--white);
}
.gallery-wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 80px;
  padding: 20px;
}
.gallery-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2e363e;
}
.gallery-text {
  font-size: 24px;
  line-height: 1.43;
  text-align: center;
  color: #2e363e;
}
.gallery-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
}
.gallery-item {
  width: 634px;
  height: 444px;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.gallery-img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .gallery-item {
    width: 100%;
    height: auto;
  }
  .gallery-wrapper-text {
    margin-bottom: 40px;
  }
  .gallery-title {
    font-size: 32px;
  }
  .gallery-text {
    font-size: 18px;
  }
}
/* ====================modal================== */
/* ===== Modal styles ===== */

.gallery-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.gallery-modal.show {
  opacity: 1;
  visibility: visible;
}

.gallery-modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.gallery-modal-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* Overlay (можна клікнути щоб закрити) */
.gallery-modal-overlay {
  position: absolute;
  inset: 0;
}

/* Кнопка закриття */
.gallery-modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 36px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Стрілки */
.gallery-modal-prev,
.gallery-modal-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.gallery-modal-prev:hover,
.gallery-modal-next:hover {
  opacity: 0.7;
}

.gallery-modal-prev {
  left: -60px;
}

.gallery-modal-next {
  right: -60px;
}
