.header {
  padding: 20px 0;
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: block;
  height: 60px;
}
