.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 100px 20px 50px;
}

.order-wrapper {
  position: relative;
  padding: 30px 20px;
  max-width: 300px;
  background: var(--white);
  border-radius: 8px;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.order-wrapper-text {
  text-align: center;
  margin-bottom: 24px;
}
.order-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #2e363e;
  margin-bottom: 8px;
}
.order-description {
  font-size: 16px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2e363e;
  opacity: 0.8;
}
.order-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.order-label {
  position: relative;
  display: flex;
  align-items: center;
  background: #f2f6fa;
  border-radius: 8px;
  width: 100%;
  height: 64px;
  padding: 0 16px 0 48px;
}

.order-input {
  /* width: 100%; */
  /* height: 100%; */
  border: none;
  background-color: transparent;
  font-size: 15px;
  line-height: 1.6;
  color: #2e363e;
  outline: none;
  border-radius: 8px;
  -webkit-tap-highlight-color: transparent;
}
.order-input::placeholder {
  color: #7e868e;
}

.order-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: #7e868e;
  pointer-events: none;
}
.order-btn {
  width: 100%;
  height: 64px;
  padding: 29px 41px;
  background: #fed84c;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.order-btn:hover {
  background-color: #ffcf3a;
}

.order-note {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 11px;
  line-height: 1.3;
  color: #7e868e;
  text-decoration-skip-ink: none;
}

.order-note a {
  text-decoration: underline;
}

.order-checkbox {
  width: 12px;
  height: 12px;
  accent-color: #fed84c;
}

/* ====================decor============= */

.decor {
  position: absolute;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1;
}
.top-left,
.top-right,
.bottom-left,
.bottom-right {
  width: 80px;
}
.smoke-top {
  width: 250%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  top: 0;
  z-index: 1;
  /* opacity: 0.9; */
  pointer-events: none;
}

.top-left {
  top: -50px;
  left: -50px;
}
.top-right {
  top: -50px;
  right: -50px;
}
.bottom-left {
  bottom: -50px;
  left: -50px;
}
.bottom-right {
  bottom: -50px;
  right: -50px;
}

@media only screen and (min-width: 768px) {
  .order-wrapper {
    max-width: 600px;
    padding: 40px 30px;
    margin: 50px auto 0;
  }

  .order-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .order-label {
    width: 235px;
    height: 80px;
  }

  .order-btn {
    width: 280px;
    height: 80px;
  }

  .order-consent {
    font-size: 14px;
  }

  .top-left {
    top: -40px;
    left: -40px;
  }

  .top-right {
    top: -40px;
    right: -40px;
  }

  .bottom-left {
    bottom: -40px;
    left: -40px;
  }

  .bottom-right {
    bottom: -40px;
    right: -40px;
  }
}

@media only screen and (min-width: 1200px) {
  .order {
    padding: 140px 0 120px;
  }

  .order-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 99px;
    gap: 36px;
    max-width: 1180px;
    height: auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    margin: 70px auto 0;
  }

  .order-wrapper-text {
    margin-bottom: 36px;
  }

  .order-title {
    font-size: 34px;
  }

  .order-description {
    font-size: 21px;
  }

  .order-label {
    width: 380px;
    height: 80px;
    padding: 0 16px 0 50px;
    background: #f8fbff;
    border-radius: 8px;
    width: 380px;
    height: 85px;
  }

  .order-input {
    font-size: 18px;
  }

  .order-btn {
    border-radius: 8px;
    padding: 29px 41px;
    width: 380px;
    height: 86px;
  }

  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    width: 120px;
  }
  .bottom-left {
    bottom: -70px;
  }
  .bottom-right {
    bottom: -70px;
  }
}
