/* ====================decor============= */
.decor {
  position: absolute;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1;
}
.smoke-top,
.smoke-bottom {
  width: 250%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
.smoke-top {
  top: 0;
}
.smoke-bottom {
  bottom: 0;
}
.leaff {
  width: 126px;
  height: 131px;
  left: 0px;
  top: 150px;
}
.berryy {
  top: 200px;
  right: 0px;
  width: 152px;
}

/* ====== Общие стили секции ====== */
.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.reviews-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
  margin-top: 80px;
}

/* ====== Swiper контейнер ====== */
.swiper {
  display: flex;
}

.reviews-swiper {
  padding: 0 0 170px 0;
  position: relative;
  overflow: hidden;
}

.reviews-swiper::before,
.reviews-swiper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.reviews-swiper::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(11, 15, 43, 0.7) 0%,
    transparent 100%
  );
}

.reviews-swiper::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(11, 15, 43, 0.7) 0%,
    transparent 100%
  );
}

.swiper-slide {
  overflow: visible !important;
  box-shadow: none !important;
  transition: height 0.3s ease;
}

.swiper-slide-active {
  opacity: 0.6;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.02);
}
/* ====== Карточка отзыва ====== */
.review-card {
  border: 2px solid #e2eaf2;
  border-radius: 5px;
  padding: 30px 40px;
  max-width: 1180px;
  height: auto;
  box-shadow: none;
  background-color: var(--white);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  transition: height 0.3s ease, padding 0.3s ease;
}

.review-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  max-width: 460px;
}

.review-quote .mark svg {
  width: 20px;
  height: auto;
  flex-shrink: 0;
}

.review-text h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.43;
  margin-bottom: 14px;
  color: #2e363e;
}

.review-text p {
  font-size: 12px;
  color: #2e363e;
  line-height: 1.7;
  margin-bottom: 10px;
}

.review-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: none;
  -webkit-line-clamp: 6;
  max-height: 10.5em;
  transition: all 0.4s ease;
}

.review-content.expanded {
  display: block !important;
  -webkit-line-clamp: unset !important;
  line-clamp: none;
  max-height: none !important;
}

.read-more-btn {
  margin-top: 10px;
  background: none;
  border: none;
  color: #4a94ff;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}
.review-link {
  font-size: 10px;
  line-height: 1.5;
  color: #4a94ff;
}

/* ====== Автор ======*/
.review-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.review-avatar img {
  border: 1px solid #f2f6fa;
  border-radius: 1000px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.review-avatar .name {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.43;
  text-align: center;
  color: #2e363e;
}

.review-avatar .city {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  color: #a6aeb6;
}

/* ====== Навигация Swiper ====== */

.reviews-swiper .swiper-button-prev,
.reviews-swiper .swiper-button-next {
  position: absolute;
  top: auto;
  bottom: 70px;
  width: 66px;
  height: 66px;
  background: #fed84c;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  fill: #2e363e !important; /* фиксируем цвет стрелок */
}

/* Размещаем кнопки слева и справа от центра */
.reviews-swiper .swiper-button-prev {
  left: 50%;
  transform: translateX(-140%);
}

.reviews-swiper .swiper-button-next {
  left: 50%;
  transform: translateX(0%);
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
}

/* ====== Адаптивность ====== */
@media only screen and (min-width: 768px) {
  .reviews {
    padding: 50px 0px;
    /* min-height: 170vh; */
  }
  .reviews-title {
    font-size: 40px;
  }
  .review-card {
    padding: 50px 60px;
  }

  .review-quote .mark svg {
    width: 40px;
  }
  .review-text h3 {
    font-size: 28px;
  }
  .review-text p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  .reviews {
    padding: 90px 10px;
    min-height: 170vh;
  }
  .reviews-title {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 80px;
  }
  .review-card {
    padding: 70px 143px;
    flex-direction: row;
  }
  .swiper-slide {
    width: 85%;
  }

  .review-text h3 {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .review-text p {
    font-size: 15px;
    margin-bottom: 24px;
  }
  .review-link {
    font-size: 14px;
  }
  .review-avatar {
    gap: 30px;
    max-width: 380px;
  }
  .review-avatar img {
    width: 380px;
    height: 380px;
  }
  .reviews-swiper .swiper-button-prev,
  .reviews-swiper .swiper-button-next {
    bottom: 70px;
  }

  .leaff {
    left: 120px;
    top: 270px;
  }
  .berryy {
    top: 450px;
    right: 170px;
  }
}

/* ===== Выровнять высоту карточек Swiper на мобильных ===== */
.swiper-slide {
  display: flex;
  align-items: stretch;
}

.review-card {
  flex-grow: 1;
  height: auto !important;
}

@media (max-width: 767px) {
  .swiper-slide {
    width: 90% !important;
    margin: 0 auto;
  }

  .reviews-swiper {
    overflow: visible !important;
  }

  .reviews-swiper::before,
  .reviews-swiper::after {
    display: none;
  }
}
