@import url(./css/reset.css);
@import url(./css/base.css);
@import url(./css/container.css);

@import url(./css/header.css);
@import url(./css/hero.css);
@import url(./css/content.css);
@import url(./css/service.css);
@import url(./css/about.css);
@import url(./css/reviews.css);
@import url(./css//gallery.css);
@import url(./css/order.css);
@import url(./css/footer.css);

:root {
  --white: #fff;
  --btn: #2e363e;
  --black: #2e363e;
  --link: #4a94ff;
  --darc-bg: #081130;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.decor {
  overflow: hidden;
  max-width: 100%;
}

section {
  position: relative;
  overflow-x: clip;
}
